<!DOCTYPE html>
<html>
<head>
    <title>Sound classification tool recognizes vehicles 'bus', 'car', 'tram' </title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Your custom CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>


<div class="content">
        {% block content %}
            {% block app_content %}
            {% endblock %}
        {% endblock %}
</div>
    <!-- Bootstrap JavaScript and jQuery (if needed) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Your custom scripts -->
    {% block scripts %}
    {% endblock %}
</body>
</html>
