{% extends 'base.html' %}

<body>
{% block app_content %}

 <div class="container d-flex flex-column align-items-center">

    <div class="row mt-1">
        <div class="col-md-12">
            <p id="result" style="font-size: 24px;">
                Result: {{ result }}
            </p>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-md-12">
            <form class="form-inline">
                <button class="btn-lg btn-outline-success" type="button" id="startoverButton">Try again</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}
</body>

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $('#startoverButton').on('click', function() {
        window.location.href = "{{ url_for('file_upload') }}"; // Redirect to start over on button click
    });

</script>
{% endblock %}

